@model List<Device>
@{
    ViewData["Title"] = "My Devices";
}

<header class="text-center">
    <h2>@ViewData["Title"]</h2>
    <h4>Device management control panel</h4>
    <p class="text-success">@ViewData["StatusMessage"]</p>
</header>

<hr/>
<div class="row">
    <div class="col-xs-12">
        <p class="text-center">DATATABLES DEVICES</p>
    </div>
</div>