@{
    ViewData["Title"] = "About Page";
}

<header class="text-center">
    <h2>@ViewData["Title"]</h2>
</header>

<div class="col-xs-offset-3 col-xs-6">
    <img src="/images/logo.png" alt="logo" style="width: 100%" />
</div>
<div class="clearfix"></div>
